<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.springtest9.dao.ServiceDao">

    <select id="login" resultType="Member">
        select * from testMember
        where id = #{id} and pw = #{pw}
    </select>

    <insert id="join">
        insert into testMember(id, pw, name, regdate)
        values (#{id}, #{pw}, #{name}, sysdate)
    </insert>

    <select id="getName" resultType="com.springboot.springtest9.vo.MemberVo">
        select id from testMember
        where id=#{id}
    </select>

</mapper>